---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Futuristic Landing Page" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #1A1B26;
		--color-secondary: #232433;
		--color-accent: #6E4BFF;
		--color-text: #ffffff;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--color-primary);
		color: var(--color-text);
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		overflow-x: hidden;
	}
	.polygrapher {
		font-family: 'Polygrapher', sans-serif;
	}
</style>